@media (max-width: 575px){
    nav > ul {
        display: none;
    }

    .hamburger-icon > i {
        display: block;
        font-size: 24px;
        color: #131318;
    }

    .banner-content {
        padding: 40px 10px 20px 10px;
    }

    .banner-content > h1 {
        font-size: 34px;
        margin-bottom: 15px;
    }

    .banner-form {
        padding: 10px 30px;
    }

    .banner-form > form {
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-form > form input, select {
        margin: 0px 5px;
        padding: 0px 20px;
        height: 45px;
    }
    .popular-section {
        padding: 30px 0px;
    }

    .popular-row {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .popular-content > h2 {
        font-size: 32px;
    }

    .popular-image > img {
        width: 100%;
        height: auto;
    }

    .destination-section {
        padding: 30px 0px;
    }

    .section-content {
        padding: 0px;
    }

    .section-content > h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .destination-grid {
        margin-top: 40px;
    }

    .images-flex-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .images-flex-2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .images-flex-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .choose-row-1 {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
    }

    .choose-row-2 {
        width: 100%;
        transform: translateX(0px);
        margin-top: 30px;
    }

    .discounts-section {
        padding: 30px 0px;
    }

    .discounts-bg-right {
        padding: 40px;
        width: 85%;
        height: 415px;
        top: 9%;
        right: 8%;
    }
    
    .discounts-bg-left {
        padding: 40px;
        width: 85%;
        height: 415px;
        top: 9%;
        left: 8%;
    }

    .discounts-text > ul li {
        margin-bottom: 10px;
    }

    .discounts-text > h4 {
        margin: 10px 0px;
    }

    .discounts-text > h5 {
        margin: 20px 0px;
    }

    .testimonial-section {
        padding: 30px 0px;
    }

    .testimonial-card {
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        gap: 30px;
    }

    .client-card-01 {
        padding: 30px 15px;
        width: 100%;
        min-height: 400px;
    }

    .place-section {
        padding: 30px 0px 0px 0px;
    }

    .place-video:before {
        bottom: 50px;
    }

    .place-content {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .place-description > h3 {
        font-size: 32px;
    }

    .place-video > video {
        width: 100%;
    }

    .video-overlay > p {
        transform: translate(0px, -135px);
        font-size: 18px;
    }
    
    .newsletter-section {
        padding: 30px 0px 0px 0px;
    }

    .newsletter-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .news-form > h2 {
        font-size: 32px;
    }

    .news-form {
        width: 100%;
    }

    .news-img > img {
        width: 100%;
        height: 300px;
    }

    .save-overlay {
        padding: 20px 15px;
        width: 250px;
        height: 120px;
        top: -165px;
        left: 172px;
    }

    .save-overlay {
        padding: 20px 30px;
        width: 60%;
        height: 100px;
        top: -170px;
        left: 160px;
    }

    .save-overlay > h4 {
        font-size: 20px;
        text-align: center;
    }

    .footer-logo > h2 {
        margin-left: 10px;
        font-size: 28px;
    }

    footer {
        width: 100%;
        height: 360px;
        padding: 40px 20px;
    }

    .footer-content > p {
        font-size: 16px;
        margin: 15px 0px;
        padding: 0px;
    }

    .footer-content > ul li {
        padding: 10px 5px 20px 5px;
    }
    
    h6.copyright {
        padding-top: 20px;
    }
}



@media only screen and (max-width: 475px) and (min-width: 320px){
    .logo-name > h2 {
        margin-left: 5px;
        font-size: 25px;
    }

    .logo-name > img {
        width: 54px;
    }

    .banner-form > form input, select {
        height: 38px;
    }

    .discounts-bg-right {
        padding: 20px 15px;
        width: 90%;
        height: 445px;
        top: 5%;
        right: 5%;
    }

    .discounts-bg-left {
        padding: 20px 15px;
        width: 90%;
        height: 445px;
        top: 5%;
        left: 5%;
    }

    .save-overlay {
        padding: 20px 30px;
        width: 70%;
        height: 100px;
        top: -155px;
        left: 68px;
    }

    .save-overlay > h4 {
        font-size: 18px;
        text-align: center;
    }

    .footer-logo > h2 {
        margin-left: 5px;
        font-size: 22px;
    }

    footer {
        height: 400px;
    }
}


@media only screen and (max-width: 768px) and (min-width: 576px){

    .logo-name > h2 {
        margin-left: 12px;
        font-size: 30px;
    }

    nav {
        display: none;
    }

    .hamburger-icon > i {
        display: block;
        font-size: 26px;
        color: #131318;
    }

    .banner-content {
        padding: 50px;
    }

    .banner-content > h1 {
        font-size: 40px;
    }

    .banner-form > form {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-form {
        padding: 10px 140px;
    }

    .popular-section {
        padding: 20px 0px 30px 0px;
    }

    .popular-row {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .popular-image > img {
        width: auto;
        height: 550px;
        margin-left: -80px;
    }

    .section-content {
        padding: 0px 20px;
    }

    .section-content > h2 {
        font-size: 32px;
    }

    .destination-section {
        padding: 30px 0px;
    }

    .destination-grid {
        margin-top: 40px;
    }

    .images-flex-1 > .img-box img {
        height: 250px;
    }

    .images-flex-2 > .img-box img {
        height: 260px;
    }

    .images-flex-3 > .img-box img {
        height: 260px;
    }

    .choose-section {
        padding: 30px 0px;
    }

    .choose-row-1 {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
    }

    .choose-row-2 {
        width: 100%;
        transform: translateX(0px);
        margin-top: 30px;
    }

    .discounts-section {
        padding: 30px 0px;
    }

    .discounts-bg-right {
        width: 70%;
        padding: 35px;
    }

    .discounts-bg-left {
        width: 70%;
        padding: 35px;
    }

    .discounts-text > ul li {
        margin-bottom: 15px;
        font-size: 14px;
        padding-right: 15px;
    }

    .testimonial-section {
        padding: 30px 0px;
    }

    .testimonial-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin-top: 40px;
        flex-direction: column;
    }

    .client-card-01 {
        width: 100%;
        min-height: 360px;
    }

    .place-section {
        padding: 30px 0px;
    }

    .place-description > h3 {
        font-size: 32px;
    }

    .place-content {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .place-video > video {
        width: 100%;
    }

    .newsletter-section {
        padding: 30px 0px 0px 0px;
    }
    
    .news-form {
        width: 100%;
    }

    .newsletter-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    footer {
        height: 390px;
        text-align: center;
        padding: 40px 0px;
        margin-top: -30px;
    }

    .footer-content > p {
        padding: 0px 10px;
    }
}

@media only screen and (max-width: 1438px) and (min-width: 769px){
    .container {
        width: 92%;
        max-width: 1200px;
        margin: 0 auto;
    } 

    .discounts-bg-left {
        width: 60%;
    }

    .discounts-bg-right {
        width: 60%;
    }

    .place-video > video {
        width: 480px;
    }
}